.altura {
    height: 100vh;
}

.navbar {
    font-family: fantasy;
    position: fixed
}

.datos {
    border-radius: 0.5em;
    font-family: sans-serif;
    width: 15em;
}
.formulario {
    font-size: 1em;
    text-align: center;
    font-family: fantasy;
}

textarea {
    resize: none;
}

#mapa {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
}

#reservar {
    border-radius: 0.5em;
}

#reservar:hover {
    background-color: rgb(180, 173, 173);
    
}

.dropdown-item:hover {
    background-color: rgb(236, 229, 229);
}
.nav-link {
    cursor: pointer;
    color: black;
}

#social-list {
    margin-left: auto;
}