.altura {
    height: 100vh;
}

body {
    user-select: none 
}

#tituloEntrantes {

    margin: 1em;
    text-decoration-line: underline;
    font-size: 1.7em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tituloPrincipales {

    margin: 2em;
    text-decoration-line: underline;
    font-size: 1.7em;
    
}

#tituloPostres {

    margin: 2em;
    text-decoration-line: underline;
    font-size: 1.7em;
}

.entrantes {
    margin: 2em;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    
}

.principales {
    margin: 2em;
    font-size: 1em;
}

.postres {
    margin: 2em;
    font-size: 1em;
}

.foto {
    height: 4em;
    width: 4em;
    transition: 1s;
    
}

.foto:hover {
    -webkit-transform:scale(1.5);
-moz-transform:scale(1.5);
-ms-transform:scale(1.5);
-o-transform:scale(1.5);
transform:scale(1.5);
transition: 1s;
border: 20%;

}
