.altura {
    height: 100vh;
}

.carrousel-fade {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15em;
    width: 55em;
 
}
.c {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}