.altura {
    height: 100vh;
}

.navbar {
    font-family: fantasy;
    position: fixed
}

.titulo {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: fantasy;
    font-size: 5em;
    color: black;
}

.nav-link {
    cursor: pointer;
    color: black;
}

#social-list {
    margin-left: auto;
}

.angel {
    margin-top: 2.1em;
    height: 5em;
    width: 5em;
    border-radius: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}