.altura {
    height: 100vh;
}

body {
    user-select: none;
}

#tituloEntrantes {

    margin: 2em;
    text-decoration-line: underline;
    font-size: 2.5em;
    font-family: fantasy;
    text-align: center;
}

#tituloPrincipales {

    margin: 2em;
    text-decoration-line: underline;
    font-size: 2.5em;
    font-family: fantasy;
    text-align: center;
    
    
}

#tituloPostres {

    margin: 2em;
    text-decoration-line: underline;
    font-size: 2.5em;
    font-family: fantasy;
    text-align: center;
}

.entrantes {
    font-size: 1.5em;
    text-align: center;
    font-family: fantasy;
    
}

.principales {
    font-size: 1.5em;
    text-align: center;
    font-family: fantasy;
}

.carnes {
    font-size: 1.5em;
    text-align: center;
    font-family: fantasy;
}

.pescados {
    font-size: 1.5em;
    text-align: center;
    font-family: fantasy;
}

.postres {
    font-size: 1.5em;
    text-align: center;
    font-family: fantasy;
}

.precio {
    font-size: 1.5em;
    text-align: center;
    font-family: fantasy;
}

.foto {
    height: 4em;
    width: 4em;
    transition: 1s;
    border-radius: 20%;
    
}

.foto:hover {
    -webkit-transform:scale(1.5);
-moz-transform:scale(1.5);
-ms-transform:scale(1.5);
-o-transform:scale(1.5);
transform:scale(1.5);
transition: 1s;
cursor: pointer;

}
